.main-header {
  margin: auto;
  // position: fixed;
  // margin-left: 100px;
  // margin-right: 100px;
  height: 105px;
  width: 866px;
}

.main-header-logo {
  height: 40px;
}

.main-header-top-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.main-header-bottom-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #161113;
}

.login-signup {
  font-weight: bold;
  a:hover {
    text-decoration: underline;
  }
}
