// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-discog-box {
  padding: 20px;
  width: 970px;
  height: 100%;
  background: #ffffff;
}

.album-detail-box {
  width: 932.5px;
  display: grid;
  grid-template-columns: 45% 40% 15%;
  grid-template-rows: 20% 80%;
  //   height: 220px;
  //   grid-template-columns: 50% 50%;
  margin-top: 10px;
}

.album-audio-player-box {
  margin-top: 10px;
  grid-column: 1;
  height: 150px;
  display: block;
  .album-player-album-title {
    font-size: 28px;
    color: #363636;
  }
  .album-player-artist-name {
    font-size: 14px;
  }
}

.audio-player {
  border: 1px solid red;
  height: 50px;
}

.album-track-box {
  display: inline-block;
  grid-column: 1;
  height: 500px;
}

.album-track-cover {
  margin-top: 10px;
  grid-column: 2;
  height: 350px;
  width: 350px;
}
.album-sidebar {
  margin-top: 0px;
  width: 120px;
  grid-column: 3;
  grid-row: 1;
}
