// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-show-page-box {
  // margin-top: 10px;
  // padding: 10px;
  height: auto;
  min-height: 600px;
  width: 100%;
  display: flex;
}

.album-show-page-left {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.album-show-page-right {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  // align-content: center;
}

#album-show-title {
  font-size: 28px;
  margin: 10px 0px 10px;
}

#audio-player {
  height: 50px;
  width: 100%;
  display: none;
}

.album-show-description {
  margin: 10px;
}

.album-show-credits {
  margin-left: 10px;
}

.album-show-cover-box {
  margin: auto;
  height: 350px;
  width: 350px;
}

.album-show-album-cover {
  height: 350px;
  width: 350px;
}

.album-track-table-box {
  min-height: 300px;
}

// .album-discog-box {
//   padding: 20px;
//   width: 970px;
//   height: 100%;
//   background: #ffffff;
// }

// .album-detail-box {
//   width: 932.5px;
//   display: grid;
//   grid-template-columns: 45% 40% 15%;
//   grid-template-rows: 20% 80%;
//   //   height: 220px;
//   //   grid-template-columns: 50% 50%;
//   margin-top: 10px;
// }

// .album-audio-player-box {
//   margin-top: 10px;
//   grid-column: 1;
//   height: 150px;
//   display: block;
//   .album-player-album-title {
//     font-size: 28px;
//     color: #363636;
//   }
//   .album-player-artist-name {
//     font-size: 14px;
//   }
// }

// .album-track-box {
//   display: inline-block;
//   grid-column: 1;
//   height: 500px;
// }

// .album-track-cover {
//   margin-top: 10px;
//   grid-column: 2;
//   height: 350px;
//   width: 350px;
// }
// .album-sidebar {
//   margin-top: 0px;
//   width: 120px;
//   grid-column: 3;
//   grid-row: 1;
// }
