// // Place all the styles related to the api/artists controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.show-page-outer {
  width: 100%;
  display: flex;
}

.show-page-inner {
  width: 975px;
  display: flex;
  margin: auto;
  border: 0.5px solid lightgrey;
}

.show-page-box {
  width: 100%;
  // display: flex;
  margin: auto;
}

.artist-banner-box {
  margin: auto;
  display: flex;
  width: 100%;
  height: 220px;
}

.artist-banner {
  width: 100%;
  height: 180px;

  img {
    width: 100%;
    height: 180px;
  }
}

// .show-page-box {
//   margin: auto;
//   width: 975px;
//   height: 100%;
//   border: 0.5px solid lightgrey;
// }

.artist-banner-box {
  margin: auto;
  display: block;
  width: 100%;
  height: 220px;
}

.artist-banner {
  width: 100%;
  height: 180px;

  img {
    width: 100%;
    height: 180px;
  }
}

.artist-banner-nav {
  display: flex;
  background-color: #f2f2f2;

  li {
    margin: 10px 20px;
  }
}

.artist-discog-box {
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  background: #ffffff;
  padding: 0;
  padding-top: 10px;
}

.discog-box {
  width: 1000px;
  height: auto;
  display: flex;
  // justify-content: space-evenly;
  flex-wrap: wrap;
}

.discog-tile {
  // padding: 10px;
  margin: 10px 20px;
  height: 230px;
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  max-height: 230px;
  min-height: 230px;
  font-size: 13px;
  color: #0687f5;
  font-weight: bold;
  img {
    width: 230px;
    height: 230px;
    // max-width: 100%;
    // max-height: 100%;
    // display: block;
    // object-fit: scale-down;
    // outline: 1px solid lime;
  }
  img:hover {
    opacity: 0.4;
  }
}

.artist-sidebar-inner {
  display: flex;
  width: 15%;
}

.artist-sidebar-box {
  display: flex;
  // justify-self: end;
  padding: 0 5px;
  width: 90%;

  li {
    margin: auto;
    margin-bottom: 10px;
    // margin: 5px 0 5px;
    font-size: 12px;
    color: #363636;
  }
}

.artist-thumbnail-box {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  padding-top: 10px;

  img {
    height: auto;
    width: 100%;
    // margin: 5px 0 5px;
  }
}

.artist-sidebar-name {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.artist-sidebar-location {
  font-size: 12px;
  color: #888888;
}

.artist-sidebar-about {
  font-size: 12px;
  color: #363636;
}
.artist-sidebar-about {
  font-size: 12px;
  color: #363636;
}
.artist-sidebar-about {
  font-size: 12px;
  color: #363636;
}
