#audio-player-box {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

#audio-player-right {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  left: 15px;
}

#progress-bar-box {
  height: 8px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

#progress-bar {
  display: flex;
  background: #fefefe;
  border: 1px solid #d9d9d9;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  position: relative;
  width: 200px;
  height: 8px;
  margin: 5px;
}

#progress-bar-played {
  height: 8px;
  flex-basis: 0%;
  background: #888888;
  position: relative;
  bottom: 1px;
}

#progress-bar-block {
  background: #fff;
  border: 1px solid #bebebe;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  position: relative;
  height: 10px;
  width: 20px;
  bottom: 2px;
  // right: 10px;
}

#play-button-box {
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

#play-button {
  height: 100%;
  width: 100%;
}

#track-info-display {
  margin: 5px;
}

#track-info-time {
  padding-left: 10px;
  color: #888888;
}
