.di-outer {
  position: relative;
  width: 100%;
  height: 750px;
  display: flex;
  // margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eef2f3;
}

#di-label-box {
  width: 1200px;
  // top: 100px;
  // margin: auto;
}

.di-label {
  text-transform: uppercase;
  position: absolute;
  // left: 364px;
  top: 50px;
  color: #408ea3;
  font-size: 14px;
  font-weight: bold;
}

.di-inner {
  width: 1200px;
  // margin: auto;
  display: flex;
  //   background-color: royalblue;
}

.di-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.di-box-top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.di-box-bottom-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.di-item-box {
  width: 200px;
  height: 300px;
  //   border: 1px solid blue;
  //   display: flex;
  margin: 5px 10px;
  background-color: #ffffff;
}

.di-item-tile {
  width: 100%;

  img {
    justify-self: center;
    width: 100%;
    height: 150px;
  }
}

#di-main-item {
  display: flex;
  background-color: #ffffff;
  width: 645px;
  height: 300px;
  //   grid-area: main;
  //   border: 1px solid blue;
  margin: 5px 10px;
  img {
    width: 295px;
    height: 295px;
  }
}

.di-main-tile {
  display: flex;
}

.di-main-details {
  margin: 30px 12px;
}

.di-main-title {
  font-size: 24px;
  font-weight: bold;
}

.di-main-artist {
  font-size: 20px;
}

.di-main-deets {
  font-size: 14px;
}

// .di-item-tile {
//   display: flex;
//   div {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .sni-tile-title {
//   display: inline;
//   width: 200px;
//   flex-wrap: wrap;
//   position: relative;
//   bottom: 100px;
// }
