#discover-outer {
  width: 100%;
  margin: auto;
}

#discover-genre-container {
  height: 120px;
  display: flex;
}

#discover-genre-box {
  height: 120px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#genre-line-1-box {
  background-color: #42a0bd;
  height: 40px;
  display: flex;
  flex-direction: column;
}

#genre-line-1 {
  background-color: #42a0bd;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#genre-line-2 {
  height: 40px;
  background-color: #4390a8;
}
#genre-line-3 {
  height: 40px;
  background-color: #428194;
}

.discover-genre-tab {
  color: white;
  list-style: none;
}

#discover-albums-container {
  padding-top: 40px;
  width: 70%;
  margin: auto;
  display: flex;
  //   flex-direction: row;
  //   justify-content: space-around;
  //   align-items: center;
}

#discover-albums-box {
  height: 550px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.discover-album-tile {
  height: 250px;
  width: 200px;
  li {
    list-style: none;
  }
}

.discover-album-tile-photo {
  height: 200px;
  width: 200px;
}

.dat-album-link {
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
}

.dat-album-link:hover {
  text-decoration: underline;
}

.dat-artist-link {
  font-size: 12px;
  cursor: pointer;
}
