#ep-ea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#ep-ea-album-box {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 150px;
  border: 1px dotted lightgrey;
}

.ep-ea-img {
  height: 100px;
  width: 100px;
}

#ep-ea-form-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#ep-ea-form {
  display: flex;
}

.ep-ea-input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
