#profile-label {
  margin: 20px;
  font-size: 30px;
}

#profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 100%;
}

.profile-banner-upload-box {
  width: 100%;
}

.profile-banner-upload {
  width: 100%;
}

#profile-bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 10px;
  }
}

#profile-submit {
  box-sizing: content-box;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00a1c6;
  margin: auto;
  width: 282px;
  height: 36px;
  border: 0.5px solid lightgrey;
}
