#profile-label {
  margin: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 100%;
}

.profile-banner-upload-box {
  width: 1000px;
  height: 200px;
}

.profile-banner-upload {
  width: 100%;
  height: 100%;
  border: 1px dashed lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-banner-upload-span {
  font-size: 19px;
  position: relative;
  color: #0687f5;
}

#profile-bottom {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 10px;
  }
}

#profile-submit {
  box-sizing: content-box;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00a1c6;
  margin: auto;
  width: 282px;
  height: 36px;
  border: 0.5px solid lightgrey;
}

.profile-genres {
  width: 300px;
}
