#profile-label {
  margin: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 100%;
}

.profile-banner-upload-box {
  width: 1000px;
  height: 200px;
}

.profile-banner-upload {
  width: 100%;
  height: 100%;
  border: 1px dashed lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-banner-upload-span {
  font-size: 19px;
  position: relative;
  color: #0687f5;
}

.profile-thumbnail-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-bottom {
  margin-top: 20px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  div {
    margin: 10px;
  }
  input {
    width: 280px;
    border: 1px solid #9c9c9c;
    border-color: #9c9c9c #9c9c9c #ccc #ccc;
  }

  input:focus {
    border-color: #50a1e6;
    -webkit-transition-duration: 0.5s;
  }

  textarea:focus {
    outline: none;
    border-color: #50a1e6;
    -webkit-transition-duration: 0.5s;
  }

  textarea {
    border: 1px solid #9c9c9c;
    border-color: #9c9c9c #9c9c9c #ccc #ccc;
    height: 56px;
    width: 280px;
    font-size: 13px;
  }
}

#profile-submit {
  box-sizing: content-box;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00a1c6;
  margin: auto;
  width: 282px;
  height: 36px;
  border: 0.5px solid lightgrey;
}

.profile-genres {
  width: 300px;
}

#profile-divider {
  height: 50px;
  width: 1000px;
  border-bottom: 1px dotted lightgrey;
  margin-bottom: 50px;
}
