#splash-player-photo-box {
  height: 335px;
  width: 335px;
}

#splash-player-photo {
  width: 100%;
  height: 100%;
}

#splash-audio-player {
  height: 50px;
  width: 100%;
  display: none;
}

#splash-player-details {
  li {
    font-size: 12px;
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 335px;
    display: block;
    overflow: hidden;
  }
}
