// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.suf-page {
  background-color: whitesmoke;
  height: 100vh;
}

.suf-box {
  width: 650px;
  height: 650px;
  margin: auto;
}

.suf-title {
  padding: 48px;
  font-size: 18px;
  text-align: center;
}

.suf-divider {
  border-bottom: 2px dotted lightgrey;
  margin-bottom: 30px;
}

.suf {
  box-sizing: content-box;
  //   display: block;
  //   margin: auto;
  display: flex;
  flex-direction: column;
  //   border: 1px solid black;
  font-family: "Roboto", sans-serif;

  // .suf-artist-name-div {
  //   // padding: 33px 0;
  // }

  div {
    box-sizing: content-box;
    padding: 5px;
    // text-align: center;
    // margin: auto;
    // display: inline-block;
    // margin-right: auto;
    // margin-left: auto;
    border: inherit;
    // background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      box-sizing: content-box;
      margin: auto;
      //   vertical-align: middle;
      margin-inline-start: auto;
      margin-right: 12px;
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: right;
      //   text-align: right;
      //   background-color: lightseagreen;
    }

    input {
      box-sizing: content-box;
      font-size: 14px;
      padding-left: 10px;
      height: 31px;
      width: 286px;
      border: 0.5px solid lightgrey;
      border-radius: 0px;
      //   margin-left: 50px;
      margin-right: 169px;
      //   text-align: center;
      //   background-color: lightsalmon;
    }

    .error-outline {
      border: 0.5px solid red;
    }

    .suf-submit {
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: #00a1c6;
      margin: auto;
      width: 282px;
      height: 36px;
    }
    .suf-guest-demo {
      font-weight: bold;
      color: white;
      background-color: #00a1c6;
      margin: auto;
      width: 300px;
      height: 36px;
    }
  }
}
