.errormsg {
  color: red;
  margin-left: 176px;
}

.auth-header {
  height: 104px;
  background-color: rgba(204, 204, 204, 0.87);
  display: flex;
  justify-content: center;

  div {
    width: 1000px;
    margin-top: 20px;
  }
}
