.errormsg {
  color: red;
  margin-left: 176px;
}

.auth-header {
  height: 104px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;

  div {
    width: 1000px;
    margin-top: 20px;
  }
}

.gradient {
  font-size: 16px;
  // background: -webkit-linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(20deg, rgb(62, 0, 233), rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .error-outline {
//   background-color: red;
// }

.dropdown {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(90deg, rgb(62, 0, 233), rgb(91, 189, 255));
}

.dropdown-content {
  height: 400px;
  width: 200px;
  position: relative;
  margin-top: 40px;
  border: 0.2px solid lightgrey;
}

// .fillwidth {
//   min-width: 100%;
//   height: auto;
// }

// .fillheight {
//   min-height: 100%;
//   width: auto;
// }
