.errormsg {
  color: red;
  margin-left: 176px;
}

.caf-errormsg {
  color: red;
}

.hidden {
  display: none;
}

.auth-header {
  height: 104px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;

  div {
    width: 1000px;
    margin-top: 20px;
  }
}

.gradient {
  font-size: 16px;
  // background: -webkit-linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(20deg, rgb(62, 0, 233), rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .error-outline {
//   background-color: red;
// }

.dropdown-box {
  height: 53px;
  width: 53px;
}

.dropdown-box:hover {
  background-color: #eef2f3;
}

.dropdown:focus {
  outline: none;
}

.dropdown {
  margin: 11px 11px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(90deg, rgb(62, 0, 233), rgb(91, 189, 255));
}

.dropdown-content {
  height: auto;
  width: 233px;
  position: relative;
  top: 33px;
  right: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  // border: 0.2px solid lightgrey;
  background-color: white;
  z-index: 3;
}

.dropdown-content-list {
  li {
    padding: 10px;
  }

  li:hover {
    background-color: #eef2f3;
  }
}

.dropdown-content-list-divider {
  width: 80%;
  border-top: 0.5px solid whitesmoke;
}

// .fillwidth {
//   min-width: 100%;
//   height: auto;
// }

// .fillheight {
//   min-height: 100%;
//   width: auto;
// }

// .selected-tab {
//   border-top: 2px solid black;
// }

.hide-error {
  visibility: hidden;
}

.grey-label {
  color: #999999;
  font-size: 12px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

.pointer:hover {
  cursor: pointer;
}
